<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-light" style="height: 75px">
<div style="width: 100%; position: absolute; left: 0px">
  <a ui-sref="tabsController.homeTabDefaultPage"><div style="width: 49%; margin-top: 50px; color: black; display: inline-block; text-align: center">
<div>ALL</div>
<div class="upperTabLine"style=""></div>
</div></a>
<a ui-sref="tabsController.myRecentActivity">
<div style="width: 49%; margin-top: 50px; color: black; display: inline-block; text-align: center">
<div>ME</div>
</div></a>
</div>
   </ion-header-bar>
    <ion-content padding="true" class="has-header" style="margin-top: 40px">

        <h1 id="homeTabDefaultPage-heading1" style="color:#000000;text-align:center;">Recent Acitivity</h1>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
