<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-clear" style="height: 75px; padding:0;">
<div style="width: 100%; height: 50px; line-height: 50px;position: absolute; left: 0px;margin-top:0;text-align:center;" ui-sref="tabsController.homeTabDefaultPage" class="unTrashedHeader">unTrashd</div>
<div style="width: 100%; line-height: 30px; position: absolute; left: 0px; color: cyan;margin-top:50px;">
<div ng-click="view['myStats'] = false" style="display:inline-block;float:left; text-align:center;width:50%;" ng-class="view['myStats'] ? 'noBorder' : 'blueBorder'">
    <div ng-click="view['myStats'] = false">ALL</div>
</div>
<div ng-click="view['myStats'] = true" style="display:inline-block; text-align:center;width:50%;" ng-class="view['myStats'] ? 'blueBorder' : 'noBorder'">
    <div ng-click="view['myStats'] = true">ME</div>
</div>
</div>
   </ion-header-bar>
  <div id="feedContainer">
    <div class="instaTrash" ng-show="show['all']" ng-repeat="trashPost in allRecent">
      <div class="userInfoRow">
        <div style="display:inline-block;margin-right:20px;float:left;font-weight:bolder">{{trashPost.tagged_by}}</div>
        <div style="display:inline-block;">{{trashPost.tagged_on | date: MM/dd}}</div>
      </div>
      <img class="trashImage" data-ng-src="{{trashPost.image}}"></img>
      <div class="feedTrashTagsBox">
        <div style="margin-left:10px;font-weight:bolder;margin-top:10px;">Tags:</div>
        <div class="feedTrashTag" ng-repeat="trashTag in trashPost.tags">{{trashTag}}</div>
      </div>
    </div>
    <div ng-hide="show['all']" ng-repeat="trashPost in myRecent">
      <div class="userInfoRow">
        <div class="userName">{{thrashPost.tagged_by}}</div>
        <div class="trashDate">{{trashPost.tagged_on | date: MM/dd}}</div>
      </div>
      <div class="trashImage" data-ng-src="trashPost.image"></div>
      <div class="feedTrashTagsBox">
        <div class="feedTrashTag" ng-repeat="trashTag in trashPost.tags">{{trashTag}}</div>
      </div>
    </div>
  </div>
</ion-view>
