<ion-view id="tagPage" hide-nav-bar="true">
  <ion-header-bar class="bar-clear" style="height: 75px; padding:0;">
<div style="width: 100%; height: 50px; line-height: 50px;position: absolute; left: 0px; margin-top:0;text-align:center;" ui-sref="tabsController.homeTabDefaultPage" class="unTrashedHeader">unTrashd</div>
<div style="width: 100%; line-height: 30px; position: absolute; left: 0px;background-color: black; color: cyan;margin-top:52px;">
</div>
   </ion-header-bar>
   <ion-content overflow-scroll="true" padding="true" class="has-header">
     <h3 class="cyan" style="width:100%;text-align:center;margin-top:20px;">New Find</h3>
      <form class="list">
        <div class="cameraRow">
          <div style="width:100%; display: flex; justify-content: center;">
            <h4>Image</h4>
          </div>
          <div style="width:100%; display: flex; justify-content: center;">
            <div style="width: 70%; display:flex; align-content:space-between">
              <div class="cameraRight" style="width: 50%; display: flex; justify-content: center;">
              <a ng-click="takePhoto()" style="text-decoration: none;">
                <div class="ion-ios-camera-outline cyan" style="font-size:55px; margin-right: 5px"></div>
              </a>
              </div>
              <div class="cameraRight" style="width: 50%; display: flex; justify-content: center;">
              <a ng-click="choosePhoto()" style="text-decoration: none;">
                <div class="ion-ios-upload-outline cyan" style="font-size:55px; margin-right: 5px"></div>
              </a>
              </div>
            </div>
          </div>
        </div>
        <img ng-show="imgURI !== undefined" ng-src="{{imgURL}}" style="text-align: center">
        <br>
        <br>
          <div id="tagUpdateBox">
            <div ng-if="allTags" ng-repeat="committedTag in allTags" class="committedTags" style="margin:10px;float:left;" ng-click="removeTag(committedTag)">
              <div class="tagName" style="display:inline-block; margin-right: 10px;" ng-click="removeTag(committedTag)">{{committedTag.trashLabel}}</div>
              <div class="removeX" ng-click="removeTag(committedTag)" style="display:inline-block">X</div>
            </div>
            <input type="text" ng-model="trashTag.trashLabel" id="trashTagInput" placeholder="add tags (ex: metal, can, net)" style="float:left;" ng-keydown="$event.which === 13 && addTag()"></input>
          </div>
          <div id="inputForm">
              <div id="suggestionBox" style="display:block; width: 100%; float:left; margin-top: 15px;">
                <h4 style="width:100%;">Suggested tags</h4>
                  <div class="suggestionBubble" ng-repeat="suggestionTag in suggestions" ng-click="addSuggestion(suggestionTag)" style="float:left;">{{suggestionTag.trashLabel}}</div>
              </div>
            </div>
          <div id="locationSwitch" style="text-align:center;display:block;float:left;">
            <h4>Location</h4>
            <div style="color:cyan">{{currentLocation[0]}}</div>
            <div style="color:cyan">{{currentLocation[1]}}</div>
          </div>
        </div>
      </form>
  </ion-content>
</ion-view>