<ion-view hide-nav-bar="true">
    <!-- <ion-content padding="true" class="has-header">
      <esri-map id="map" webmap-id="5ad5ac16d9c34b4c8717f86847f486c5" center="map.center" zoom="map.zoom" item-info="itemInfo" map="map" style="height:500px; width: 100vw; position:fixed; top:0px;left:0;bottom:0;"></esri-map>
    </ion-content> -->
  </a><br />
          <a style="display: none"id="mapClick" class="item" href="#" onclick="window.open('http://beta.roktech.net/GhostGearBustersMap/', '_blank', 'location=no'); return false;">
              View Map
          </a><br />
</ion-view>
