<ion-view title="Map Default Page" id="page5" hide-nav-bar="true">
  <ion-header-bar class="bar-clear" style="height: 75px; padding:0;">
<div style="width: 100%; height: 50px; line-height: 50px;position: absolute; left: 0px;margin-top:0;text-align:center;" ui-sref="tabsController.homeTabDefaultPage" class="unTrashedHeader">unTrashd</div>
</div>
   </ion-header-bar>
    <ion-content padding="true" class="has-header">
      <esri-map id="map" webmap-id="5ad5ac16d9c34b4c8717f86847f486c5" center="map.center" zoom="map.zoom" item-info="itemInfo" map="map" style="height:500px; width: 100vw; position:fixed; top:0px;left:0;bottom:0;"></esri-map>
    </ion-content>
</ion-view>