<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-clear" style="height: 75px; padding:0;">
<div style="width: 100%; height: 50px; line-height: 50px;position: absolute; left: 0px;margin-top:0;text-align:center;" ui-sref="tabsController.homeTabDefaultPage" class="unTrashedHeader">unTrashd</div>
<div style="width: 100%; line-height: 30px; position: absolute; left: 0px; color: cyan;margin-top:50px;">
<div ng-click="view['myStats'] = false" style="display:inline-block;float:left; text-align:center;width:50%;" ng-class="view['myStats'] ? 'noBorder' : 'blueBorder'">
    <div ng-click="view['myStats'] = false">ALL</div>
</div>
<div ng-click="view['myStats'] = true" style="display:inline-block; text-align:center;width:50%;" ng-class="view['myStats'] ? 'blueBorder' : 'noBorder'">
    <div ng-click="view['myStats'] = true">ME</div>
</div>
</div>
   </ion-header-bar>
   <ion-content class="has-header" style="margin-top: 50px; ">
     <div class="myStats" ng-show="view['myStats']" style="padding:20px;">
        <h4 class="cyan stats" style="font-size:30px;font-weight:bolder;">MY STATS</h4>
        <div class="cyan stats">points: {{points || 45}}</div>
        <div class="cyan stats">longest streak: {{streak || 4}} days</div>
        <div class="cyan stats">points: {{points}}</div>
     </div>
     <div class="allStats" ng-hide="view['myStats']">
        <h4 class="cyan">All stats</h4>
        <div ng-repeat="allStat in allStats"></div>
     </div>
    </ion-content>
</ion-view>
